{% extends 'UrgenceBundle::layout.html.twig' %}

{% block title %}Alerter les secours{% endblock %}

{% block content %}

        {{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}


        <div class="form-group">
            {{ form_label(form.public_user.lastName, 'Nom de famille',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.public_user.lastName, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre nom de famille'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.public_user.firstName, 'Prénom',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.public_user.firstName, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre prénom'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.public_user.phone, 'Téléphone',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.public_user.phone, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre téléphone'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.public_user.mail, 'Mail',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.public_user.mail, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre email'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.info, 'Informations complémentaires',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.info, {'attr': {'class': 'form-control', 'placeholder':'Précisez votre situation'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.alertType, "Type d'alerte",{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.alertType, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.severity, 'Sévérité',{'label_attr': {'class': 'col-xs-3 control-label'}}) }}
            <div class="col-xs-9">
                {{ form_widget(form.severity, {'attr': {'class': 'form-control', 'placeholder':''}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.public_user.lastName) }}
        </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}

    </div>
</form>

<button id="button-post" class="btn btn-default">Click Send Post test (TO REMOVE) </button>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#button-post').click(function(){
            var data = {};
            data['timestamp_alert'] = new Date().getTime();
            data['timestamp_position'] = new Date().getTime()+99999; 
            data['position'] = {'longitude' : "0000", 'latitude' : "0000" };
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    data['position'] = {'longitude' : position.coords.longitude, 'latitude' : position.coords.latitude };
                });
            }
            
            $.ajax({
                  type: "POST",
                  url: "/hackathon-2016/app_dev.php/api/new-alerte",
                  data: JSON.stringify(data),
                  success: function(response){
                      console.log(response);
                  },
                  dataType: 'json',
                  error:function(msg){
                      alert( "Error !: " + msg );
                  }
            });
        });

        
    });
</script>

{% endblock %}