<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{# On mobile device, screen is resized  #}
		<meta name="viewport" content="width=device-width"/>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('bundles/urgence/css/screen.css') }}" />
            <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('bundles/urgence/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('bundles/urgence/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('bundles/urgence/css/hover.css') }}" />
		{% endblock %}
        
        {% block javascripts %}
		    <script type="text/javascript">BASE_URL = "{{ app.request.baseUrl }}";</script>			      
			<script type="text/javascript" src="{{ asset('bundles/urgence/js/jquery-1.12.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/urgence/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/urgence/js/mapModule.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/urgence/js/commonModule.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/urgence/js/alerterModule.js') }}"></script>
            <script type="text/javascript">
                commonModule.init(); 
            </script>
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
			{# header and main nav bar #}
			{% include "UrgenceBundle::header.html.twig" %}
			
			<div id="page-wrapper">
			
				{# breadcrumbs #}
				<div class="page-breadcrumb">
                    <ol class="breadcrumb">
                      <li><a href="#">Accueil</a></li>
                      <li class="active">Alerter les secours</li>
                    </ol>
                </div>
				
				{# content #}
				<div id="page-content" class="container">
					<h1>{{ block('title') }}</h1>
                    <hr>
					{% for flashMessage in app.session.flashbag.get('info') %}
					    <div class="info">
					        {{ flashMessage }}
					    </div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('warning') %}
					    <div class="warning">
					        {{ flashMessage }}
					    </div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('success') %}
					    <div class="success">
					        {{ flashMessage }}
					    </div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('error') %}
					    <div class="error">
					        {{ flashMessage }}
					    </div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('validation') %}
					    <div class="validation">
					        {{ flashMessage }}
					    </div>
					{% endfor %}
					{% block content %} {% endblock %}
					<div class="clearfix"></div>
				</div>
				
				{# footer #}
				<div id="page-footer">
                    <p>Urgence - Hackathon Nec Mergitur - Paris - 2016</p>
				</div>
			</div>
	</body>
</html>